<server>
    <featureManager>
        <feature>webProfile-10.0</feature>
        <feature>jdbc-4.3</feature>
    </featureManager>

    <!-- Endpoints -->
    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="9080" httpsPort="9443"/>

    <!-- Segurança básica p/ testes -->
    <quickStartSecurity userName="admin" userPassword="adminpwd"/>

    <!-- JDBC Driver Postgres: apontamos para a pasta de shared resources do Liberty -->
    <library id="postgresLib">
        <fileset dir="${shared.resource.dir}/postgres" includes="*.jar"/>
    </library>
    <jdbcDriver id="postgresDriver" libraryRef="postgresLib"/>

    <!-- DataSource padrão da aplicação -->
    <dataSource id="AppDS" jndiName="jdbc/appDS" transactional="true">
        <jdbcDriverRef ref="postgresDriver"/>
        <properties.postgresql
                serverName="${env.POSTGRES_HOST}"
                portNumber="${env.POSTGRES_PORT}"
                databaseName="${env.POSTGRES_DB}"
                user="${env.POSTGRES_USER}"
                password="${env.POSTGRES_PASSWORD}"/>
    </dataSource>

    <application id="app" location="app.war" type="war"/>
</server>